@model List<blogs.Areas.Admin.Models.Tag>
@{
    ViewBag.Title = "Subject";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/page_styles/subject.css" rel="stylesheet" />


        @{
        if(Model.Count>0)
        { 
        foreach (var subject in Model)
        {
           
            <div class="dv_blog">
                <div class="dv_head">
                    <h2>@subject.TagName </h2>
                  
                    @Html.ActionLink("View Blog...", "Topic", "Home", new { id = subject.id }, new { @class = "rd_more" })
                </div>
                <small class="date_publish"></small>
               <hr />
            </div>
        }
        }
        else
        {
        <strong class="text-center"> No Record found...</strong>
        }
        }
        
        
        
        
   